/* General resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #0D1117;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Link styling */
a {
  color: #4daafc;
  font-weight: 600;
  text-decoration: none;
}

/* Navbar styling */
.navbar {
  height: 70px;
  margin: 0 auto;
  padding: 0px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  /* border-bottom: 0.1px solid rgb(74, 73, 73); */
  background-color: #0D1117;
}

.navbar .nav-left .logo{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #e9eaeb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .nav-left .logo img {
  width: 26px;
  height: 26px;
}

.navbar .nav-mid .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.navbar .nav-mid .nav-links li a {
  text-decoration: none;
  color: #9ba3b4;
  font-weight: 600;
  cursor: pointer;
}

.navbar .nav-mid .nav-links li a:hover {
  color: #e9eaeb;
}

.navbar .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .nav-right img{
    cursor: pointer;
    padding: 2%;
}

.navbar .nav-right img:hover {
  transform: scale(1.1);
  background-color: rgb(44, 44, 44);
  border-radius: 20%;
}

.navbar .nav-right .search {
  padding: 8px 12px;
  border-radius: 5px;
  border: 0.1px solid #9ba3b4;;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0.6;
}

.navbar .nav-right .search i {
  color: #9ba3b4;
  cursor: pointer;
}

.navbar .nav-right .search input{
    border: none;
  outline: none;
  background-color: #0e0e0e;
  font-size: 15px;
  width: 150px;
}

::placeholder {
  color: 9ba3b4;
}

.navbar .nav-right .search:focus-within {
  border: 1px solid #0069b9;     /* help to show that input field is active */
}

.navbar .nav-right button {
  color: #e9eaeb;
  font-weight: 600;
  background-color: #0069b9;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.navbar .nav-right button:hover {
  background-color: #005da3;
}

     /*----------------------------Hero section------------------------------------  */

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* border-bottom: 0.5px solid rgb(74, 73, 73); */
  background-color: #0D1117;
}

.hero h1 {
  padding-top: 160px;
  margin-bottom: 25px;
  font-size: 72px;
  max-width: 1000px;
  font-weight: 700;
  color: #c3d0e5;
  line-height: 120%;
  letter-spacing: -0.8px;
}

.hero .buttons #btn1{
  background-color: #0078d4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.hero .buttons #btn1:hover {
  background-color: #005da3;
  border: 1px solid #005da3;
}

.hero .buttons #btn2{
  background-color: #25292E;
  color: #c3d0e5;
  border: 1px solid rgba(255,255,255,0.3);
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.hero .buttons #btn2:hover{
  background-color: #2f343a;
}

.hero .buttons{
  margin-bottom: 8px;
}

.hero #links1{
  font-size: 12px;
  color: #9ba3b4;
}

.hero #links2{
  margin-top: 8px;
  font-size: 11px;
  font-weight: 400;
  color: #9ba3b4;
  text-decoration-color: #9ba3b4;
  opacity: 0;
  transition-timing-function: ease-out;
  transition-duration: .15s;
}

.link-group:hover #links2 {
  opacity: 1;
}

.hero .hero-video {
  width:1120px;
  height:700px;
  position: relative;
  background-image: url('./images/hero-background.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.hero .hero-video .overlay-video {
  width: 992px;
  height: 594px;
  border-radius: 8px;
  z-index: 1;
}

.hero #playBtn{
  font-size: 20px;
  color: #9ba3b4;
  background: transparent;
  font-weight: 500;
  padding: 6px 20px;
  border: solid 2px transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: border .3s ease;
  margin-top: 12px;
}

.hero #playBtn:hover {
  border: solid 2px #9ba3b4;
}

/* --------------------------feature section------------------------------ */

.features {
  padding: 92px 70px;
  font-size: 14px;
}


.features .cards{
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}

.features .cards .card{
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.04);
  border-radius: 10px;
  padding: 16px;
  flex: 1;
  max-height: auto;
}

.features .cards .card h2{
  font-size: 20px;
  margin: 10px 0;
  color: #c3d0e5;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 150%;
}

.features .cards .card p{
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: #9FB1D1;
  margin: 0 0 10px;
}

.features .cards .card img{
  width: 100%;
  height: auto;
}


/* ----------------------------------Banner section -------------------------------- */

.banner {
  padding: 40px ;
  margin-left: 70px;
  margin-right: 70px;
  background-image: url(./images/copilot-free-banner.webp);
  background-size: cover;
  border: solid 1px rgba(255,255,255,0.12);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.banner .left {
  padding: 0 18px;
}

.banner .left h2{
  color: #e6eefA;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 0;
  line-height: 150%;
  font-size: 30px;
}

.banner .right{
  padding: 0 40px;
}

.banner .right p{
  color: #e6eefA;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  margin: 0 0 10px;
}

.banner .right button{
  background-color: #25292E;
  color: #c3d0e5;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 12px;
  width: fit-content;
  cursor: pointer;
  font-weight: 500;
}

.banner .right button:hover {
  background-color: #2f343a;
}

/* ---------------------------------Agent section------------------------------------ */

.agent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 70px;
  gap: 40px;
}

.agent .agent-left h2 {
  color: #c3d0e5;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 0;
    line-height: 150%;
    font-size: 30px;
}
.agent .agent-left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: #9FB1D1;
  margin: 0 0 10px;
  text-align: justify;
}

.agent .agent-left a{
  font-size: 16px;
    font-weight: 500;
    color: #4daafc;
    text-decoration: underline;
}

.agent .agent-right img{
  width: 720px;
  height: auto;
}

/* -----------------------------Suggestions section---------------------------------- */


.suggestion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 70px;
  gap: 40px;
}

.suggestion .suggestion-left h2 {
  color: #c3d0e5;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 0;
    line-height: 150%;
    font-size: 30px;
}
.suggestion .suggestion-left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: #9FB1D1;
  margin: 0 0 10px;
  text-align: justify;
}

.suggestion .suggestion-left a{
  font-size: 16px;
    font-weight: 500;
    color: #4daafc;
    text-decoration: underline;
}

.suggestion .suggestion-right img{
  width: 720px;
  height: auto;
}


/* -----------------------------Extension section---------------------------------- */